###Libraries

In [1]:
#Libraries mentioned below are used for feature engineering as shown below with respective output results.
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import seaborn as sns
%matplotlib inline
import seaborn as sns
from sklearn.ensemble import ExtraTreesClassifier 
from plotly import express as px, graph_objects as go
from plotly.subplots import make_subplots
from sklearn.model_selection import train_test_split
from pandas.plotting import parallel_coordinates
import sklearn 
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR 
# importing necessary libraries from sklearn import linear_model 
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error 
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

###Data Read and clean

In [2]:
#Read the dataset from csv file obtained from a known platform kaggle - curated by candian government 
dataset = pd.read_csv('CO2 Emissions_dataset.csv')
#Drop all the duplicates in the dataset 
dataset.drop_duplicates()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km),classify
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196,1
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221,2
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136,1
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255,2
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,10.7,7.7,9.4,30,219,2
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,11.2,8.3,9.9,29,232,2
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4,AS8,Z,11.7,8.6,10.3,27,240,2
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4,AS8,Z,11.2,8.3,9.9,29,232,2
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4,AS8,Z,12.2,8.7,10.7,26,248,2

In [3]:
#check the read dataset
dataset.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km),classify
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196,1
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221,2
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136,1
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255,2
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244,2

In [4]:
#check if dataset has null values
dataset.isnull().sum()

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
classify                            0
dtype: int64

In [5]:
#check if dataset has any duplicate values
dataset.duplicated().sum()

1103

In [6]:
#Rename the required column 
dataset.rename(columns={'CO2 Emissions(g/km)':'CO2_emission'}, inplace=True)

In [7]:
#Putting different transmission sub-catagories into their respective catagories
dataset['Transmission'] = np.where(dataset['Transmission'].isin(['A4','A5','A6','A7','A8','A9','A10']),'Automatic',dataset['Transmission'])
dataset['Transmission'] = np.where(dataset['Transmission'].isin(['AS4','AS5','AS6','AS7','AS8','AS9','AS10']),'Automatic of Selective type',dataset['Transmission'])
dataset['Transmission'] = np.where(dataset['Transmission'].isin(['AM5','AM6','AM7','AM8','AM9']),'Automated Manual',dataset['Transmission'])
dataset['Transmission'] = np.where(dataset['Transmission'].isin(['AV','AV6','AV7','AV8','AV10']),'CVT',dataset['Transmission'])
dataset['Transmission'] = np.where(dataset['Transmission'].isin(['M5','M6','M7']),'Manual',dataset['Transmission'])

In [8]:
# Renaming fuel types for better understanding
dataset['Fuel Type']= np.where(dataset['Fuel Type']=='X','Regular gasoline',dataset['Fuel Type'])
dataset['Fuel Type']= np.where(dataset['Fuel Type']=='Z','Premium gasoline',dataset['Fuel Type'])
dataset['Fuel Type']= np.where(dataset['Fuel Type']=='E','Ethanol',dataset['Fuel Type'])
dataset['Fuel Type']= np.where(dataset['Fuel Type']=='D','Diesel',dataset['Fuel Type'])
dataset['Fuel Type']= np.where(dataset['Fuel Type']=='N','Natural gas',dataset['Fuel Type'])

In [9]:
#check the missing values 
missing_values = ["n/a", "na", "--","NA","NAN","N/A"]

In [10]:
#check the misisng values
pd.read_csv("CO2 Emissions_dataset.csv", na_values = missing_values)

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km),classify
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196,1
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221,2
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136,1
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255,2
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,10.7,7.7,9.4,30,219,2
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,11.2,8.3,9.9,29,232,2
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4,AS8,Z,11.7,8.6,10.3,27,240,2
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4,AS8,Z,11.2,8.3,9.9,29,232,2
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4,AS8,Z,12.2,8.7,10.7,26,248,2

In [11]:
#drop duplicates 
dataset.drop_duplicates()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2_emission,classify
0,ACURA,ILX,COMPACT,2.0,4,Automatic of Selective type,Premium gasoline,9.9,6.7,8.5,33,196,1
1,ACURA,ILX,COMPACT,2.4,4,Manual,Premium gasoline,11.2,7.7,9.6,29,221,2
2,ACURA,ILX HYBRID,COMPACT,1.5,4,CVT,Premium gasoline,6.0,5.8,5.9,48,136,1
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,Automatic of Selective type,Premium gasoline,12.7,9.1,11.1,25,255,2
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,Automatic of Selective type,Premium gasoline,12.1,8.7,10.6,27,244,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4,Automatic of Selective type,Premium gasoline,10.7,7.7,9.4,30,219,2
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4,Automatic of Selective type,Premium gasoline,11.2,8.3,9.9,29,232,2
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4,Automatic of Selective type,Premium gasoline,11.7,8.6,10.3,27,240,2
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4,Automatic of Selective type,Premium gasoline,11.2,8.3,9.9,29,232,2
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4,Automatic of Selective type,Premium gasoline,12.2,8.7,10.7,26,248,2

In [12]:
#check if any duplicates 
dataset.duplicated().sum()

1112

###Feature Engineering

In [13]:
#check the unique values of the non numerical data entries
print(dataset['Make'].value_counts())
print(dataset['Model'].value_counts())
print(dataset['Vehicle Class'].value_counts())
print(dataset['Transmission'].value_counts())
print(dataset['Fuel Type'].value_counts())

FORD             628
CHEVROLET        588
BMW              527
MERCEDES-BENZ    419
PORSCHE          376
TOYOTA           330
GMC              328
AUDI             286
NISSAN           259
JEEP             251
DODGE            246
KIA              231
HONDA            214
HYUNDAI          210
MINI             204
VOLKSWAGEN       197
MAZDA            180
LEXUS            178
JAGUAR           160
CADILLAC         158
SUBARU           140
VOLVO            124
INFINITI         108
BUICK            103
RAM               97
LINCOLN           96
MITSUBISHI        95
CHRYSLER          88
LAND ROVER        85
FIAT              73
ACURA             72
MASERATI          61
ROLLS-ROYCE       50
ASTON MARTIN      47
BENTLEY           46
LAMBORGHINI       41
ALFA ROMEO        30
GENESIS           25
SCION             22
SMART              7
BUGATTI            3
SRT                2
Name: Make, dtype: int64
F-150 FFV 4X4           32
F-150 FFV               32
MUSTANG                 27
FOCUS FFV               24
SONIC                   20
                        ..
AVENTADOR S ROADSTER     1
HURACAN AWD              1
HURACAN SPYDER AWD       1
LS 500                   1
XC40 T4 AWD              1
Name: Model, Length: 2053, dtype: int64
SUV - SMALL                 1217
MID-SIZE                    1133
COMPACT                     1022
SUV - STANDARD               735
FULL-SIZE                    639
SUBCOMPACT                   606
PICKUP TRUCK - STANDARD      538
TWO-SEATER                   460
MINICOMPACT                  326
STATION WAGON - SMALL        252
PICKUP TRUCK - SMALL         159
MINIVAN                       80
SPECIAL PURPOSE VEHICLE       77
VAN - PASSENGER               66
STATION WAGON - MID-SIZE      53
VAN - CARGO                   22
Name: Vehicle Class, dtype: int64
Automatic of Selective type    3127
Automatic                      1851
Manual                         1185
Automated Manual                646
CVT                             576
Name: Transmission, dtype: int64
Regular gasoline    3637
Premium gasoline    3202
Ethanol              370
Diesel               175
Natural gas            1
Name: Fuel Type, dtype: int64

In [14]:
# checking for unique variables
print(dataset['Make'].unique())
print("\n")
print(dataset['Model'].unique())
print("\n")
print(dataset['Vehicle Class'].unique())
print("\n")
print(dataset['Fuel Type'].unique())
print("\n")
print(dataset['Transmission'].unique())

['ACURA' 'ALFA ROMEO' 'ASTON MARTIN' 'AUDI' 'BENTLEY' 'BMW' 'BUICK'
 'CADILLAC' 'CHEVROLET' 'CHRYSLER' 'DODGE' 'FIAT' 'FORD' 'GMC' 'HONDA'
 'HYUNDAI' 'INFINITI' 'JAGUAR' 'JEEP' 'KIA' 'LAMBORGHINI' 'LAND ROVER'
 'LEXUS' 'LINCOLN' 'MASERATI' 'MAZDA' 'MERCEDES-BENZ' 'MINI' 'MITSUBISHI'
 'NISSAN' 'PORSCHE' 'RAM' 'ROLLS-ROYCE' 'SCION' 'SMART' 'SRT' 'SUBARU'
 'TOYOTA' 'VOLKSWAGEN' 'VOLVO' 'GENESIS' 'BUGATTI']


['ILX' 'ILX HYBRID' 'MDX 4WD' ... 'Tacoma 4WD D-Cab TRD Off-Road/Pro'
 'Atlas Cross Sport 4MOTION' 'XC40 T4 AWD']


['COMPACT' 'SUV - SMALL' 'MID-SIZE' 'TWO-SEATER' 'MINICOMPACT'
 'SUBCOMPACT' 'FULL-SIZE' 'STATION WAGON - SMALL' 'SUV - STANDARD'
 'VAN - CARGO' 'VAN - PASSENGER' 'PICKUP TRUCK - STANDARD' 'MINIVAN'
 'SPECIAL PURPOSE VEHICLE' 'STATION WAGON - MID-SIZE'
 'PICKUP TRUCK - SMALL']


['Premium gasoline' 'Diesel' 'Regular gasoline' 'Ethanol' 'Natural gas']


['Automatic of Selective type' 'Manual' 'CVT' 'Automated Manual'
 'Automatic']

In [15]:
#0 1 2 - encoding of all the columns - rather than adding columns 
make_freq = dataset['Make'].value_counts().to_dict()
model_freq = dataset['Model'].value_counts().to_dict()
vehclass_freq = dataset['Vehicle Class'].value_counts().to_dict()
fuel_freq = dataset['Fuel Type'].value_counts().to_dict()
trans_freq = dataset['Transmission'].value_counts().to_dict()
dataset['Make'] = dataset['Make'].map(make_freq)
dataset['Model'] = dataset['Model'].map(model_freq)
dataset['Vehicle Class'] = dataset['Vehicle Class'].map(vehclass_freq)
dataset['Fuel Type'] = dataset['Fuel Type'].map(fuel_freq)
dataset['Transmission'] = dataset['Transmission'].map(trans_freq)

In [16]:
#fueld = pd.get_dummies(dataset['Fuel Type'], prefix='Fuel', drop_first=True)
#tranmissiond = pd.get_dummies(dataset["Transmission"], drop_first=True)

In [17]:
#datad = [dataset, fueld, tranmissiond]
#dataset = pd.concat(datad)
#dataset = dataset.fillna(0)
dataset.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2_emission,classify
0,72,9,1022,2.0,4,3127,3202,9.9,6.7,8.5,33,196,1
1,72,9,1022,2.4,4,1185,3202,11.2,7.7,9.6,29,221,2
2,72,2,1022,1.5,4,576,3202,6.0,5.8,5.9,48,136,1
3,72,1,1217,3.5,6,3127,3202,12.7,9.1,11.1,25,255,2
4,72,7,1217,3.5,6,3127,3202,12.1,8.7,10.6,27,244,2

In [18]:
dataset.shape

(7385, 13)

In [19]:
dataset.columns

Index(['Make', 'Model', 'Vehicle Class', 'Engine Size(L)', 'Cylinders',
       'Transmission', 'Fuel Type', 'Fuel Consumption City (L/100 km)',
       'Fuel Consumption Hwy (L/100 km)', 'Fuel Consumption Comb (L/100 km)',
       'Fuel Consumption Comb (mpg)', 'CO2_emission', 'classify '],
      dtype='object')

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   int64
 1   Model                             7385 non-null   int64
 2   Vehicle Class                     7385 non-null   int64
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   int64
 6   Fuel Type                         7385 non-null   int64
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2_emission                      7385 non-null   int64
 12  classify                          7385 non-null   int64
dtypes: float64(4), int64(9)
memory usage: 750.2 KB

### Split Data and Scale

In [21]:
#Scaling of data is done below.
X = dataset.drop(['CO2_emission', 'classify '], axis = 1)
X.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg)
0,72,9,1022,2.0,4,3127,3202,9.9,6.7,8.5,33
1,72,9,1022,2.4,4,1185,3202,11.2,7.7,9.6,29
2,72,2,1022,1.5,4,576,3202,6.0,5.8,5.9,48
3,72,1,1217,3.5,6,3127,3202,12.7,9.1,11.1,25
4,72,7,1217,3.5,6,3127,3202,12.1,8.7,10.6,27

In [22]:
y = dataset['CO2_emission']
yc = dataset['classify ']
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state =0)
X_train, X_test, Yc_train, Yc_test = train_test_split(X, yc, test_size=0.2, random_state =0)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg)
0,72,9,1022,2.0,4,3127,3202,9.9,6.7,8.5,33
1,72,9,1022,2.4,4,1185,3202,11.2,7.7,9.6,29
2,72,2,1022,1.5,4,576,3202,6.0,5.8,5.9,48
3,72,1,1217,3.5,6,3127,3202,12.7,9.1,11.1,25
4,72,7,1217,3.5,6,3127,3202,12.1,8.7,10.6,27

###Feature Selection

####CHI2 Score

In [ ]:
#SCORE ON REGRESSION SET
#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Features','Score']  #naming the dataframe columns
print(featureScores.nlargest(18,'Score'))  #print 10 best features

In [ ]:
ranked_feature = SelectKBest(score_func = chi2, k='all')
raordered_feature = ranked_feature.fit(X, y)
top_feat = pd.DataFrame(raordered_feature.scores_ , columns=['score'])
top_feat['variables'] = X.columns
top_feat.sort_values(by='score', ascending=False)

In [ ]:
#Chi2 score on the classification set
ranked_feature = SelectKBest(score_func = chi2, k='all')
ordered_feature = ranked_feature.fit(X, yc)
top_feat = pd.DataFrame(ordered_feature.scores_ , columns=['score'])
top_feat['variables'] = X.columns
top_feat.sort_values(by='score', ascending=False)

In [ ]:
#Chi2 score on the regression set -PLOT
scores = chi2(X,y)
p_values = pd.Series(scores[0],index = X.columns)
p_values.sort_values(ascending = False , inplace = True)
p_values.plot.bar(color='maroon')

In [ ]:
#Chi2 score on the classification set - PLOT
scores = chi2(X,yc)
p_values = pd.Series(scores[0],index = X.columns)
p_values.sort_values(ascending = False , inplace = True)
p_values.plot.bar(color='maroon')


```
# This is formatted as code
dataset = pd.read_csv('CO2 Emissions_dataset.csv')
dataset.drop_duplicates()
dataset.rename(columns={'CO2 Emissions(g/km)':'CO2_emission'}, inplace=True)
make_freq = dataset['Make'].value_counts().to_dict()
model_freq = dataset['Model'].value_counts().to_dict()
vehclass_freq = dataset['Vehicle Class'].value_counts().to_dict()
fuel_freq = dataset['Fuel Type'].value_counts().to_dict()
trans_freq = dataset['Transmission'].value_counts().to_dict()
dataset['Make'] = dataset['Make'].map(make_freq)
dataset['Model'] = dataset['Model'].map(model_freq)
dataset['Vehicle Class'] = dataset['Vehicle Class'].map(vehclass_freq)
dataset['Fuel Type'] = dataset['Fuel Type'].map(fuel_freq)
dataset['Transmission'] = dataset['Transmission'].map(trans_freq)
```

####Feature Importance using Tree Classifier

In [ ]:
#explaination of feature engineering is shown below with thorough feature engineering on Tree Classifiers
model = ExtraTreesClassifier()
model.fit(X,y)
print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(18).plot(kind='barh')
plt.show()

In [ ]:
model = ExtraTreesClassifier()
model.fit(X,yc)
print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(18).plot(kind='barh')
plt.show()#plotting the results

####Correlation map

In [ ]:
plt.figure(figsize=(20,8)) # plotting correlation chart with all the features
sns.heatmap(data=dataset.corr(),annot=True,linewidths=0.2,cmap='coolwarm', square=True)